nav {
  width: 100%;
  max-width: 800px;
  margin: 1rem auto 0 auto;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: right;
  margin-right: 1rem;
  flex-wrap: wrap;
}

li {
  padding: 5px;
  font-size: 1.5rem;
}

#navbar-userfavorites {
  margin-right: auto;
  text-decoration: underline;
}